<a href="https://colab.research.google.com/github/Ugonna244/nba-prediction/blob/main/nbaUntitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**##Predicting winner of 2022 NBA Championship using machine learning**

**Import the needed Libraries**

In [ ]:
# Load necessary libraries

import platform
import numpy as np
import pandas as pd
import sklearn as sk
import os

**Upload the training dataset**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving nba_elo.csv to nba_elo.csv

**Convert the dataset to a dataframe**

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['nba_elo.csv']))

**Import necessary libraries for training**

In [ ]:
from sklearn.metrics import f1_score, make_scorer, classification_report

scorer = make_scorer(f1_score, pos_label = None, average = 'weighted')

**View top elements of the dataset**

In [ ]:
# Examine the dataset with its initial formatting
df.head()

         date  season  neutral  ... quality importance total_rating
0  1946-11-01    1947        0  ...       0        NaN          NaN
1  1946-11-02    1947        0  ...       0        NaN          NaN
2  1946-11-02    1947        0  ...       0        NaN          NaN
3  1946-11-02    1947        0  ...       0        NaN          NaN
4  1946-11-02    1947        0  ...       0        NaN          NaN

[5 rows x 27 columns]

**View the top 5 and bottom 5 of the dataframe for proper understanding**

In [ ]:
df

             date  season  neutral  ... quality importance total_rating
0      1946-11-01    1947        0  ...       0        NaN          NaN
1      1946-11-02    1947        0  ...       0        NaN          NaN
2      1946-11-02    1947        0  ...       0        NaN          NaN
3      1946-11-02    1947        0  ...       0        NaN          NaN
4      1946-11-02    1947        0  ...       0        NaN          NaN
...           ...     ...      ...  ...     ...        ...          ...
71945  2022-04-09    2022        0  ...      76       29.0         53.0
71946  2022-04-09    2022        0  ...      73       28.0         51.0
71947  2022-04-09    2022        0  ...      59        3.0         31.0
71948  2022-04-09    2022        0  ...      76       12.0         44.0
71949  2022-04-09    2022        0  ...      76       19.0         48.0

[71950 rows x 27 columns]

**View the data types we are dealing with**

In [ ]:
df.dtypes

date               object
season              int64
neutral             int64
playoff            object
team1              object
team2              object
elo1_pre          float64
elo2_pre          float64
elo_prob1         float64
elo_prob2         float64
elo1_post         float64
elo2_post         float64
carm-elo1_pre     float64
carm-elo2_pre     float64
carm-elo_prob1    float64
carm-elo_prob2    float64
carm-elo1_post    float64
carm-elo2_post    float64
raptor1_pre       float64
raptor2_pre       float64
raptor_prob1      float64
raptor_prob2      float64
score1            float64
score2            float64
quality             int64
importance        float64
total_rating      float64
dtype: object

**Parse in the date colomn**

In [ ]:
df = pd.read_csv('nba_elo.csv', parse_dates = ['date'])

**View the shape of your data**

In [ ]:
df.shape

(71950, 27)

**View the data types again**

In [ ]:
# View the updated dataset
df.dtypes

date              datetime64[ns]
season                     int64
neutral                    int64
playoff                   object
team1                     object
team2                     object
elo1_pre                 float64
elo2_pre                 float64
elo_prob1                float64
elo_prob2                float64
elo1_post                float64
elo2_post                float64
carm-elo1_pre            float64
carm-elo2_pre            float64
carm-elo_prob1           float64
carm-elo_prob2           float64
carm-elo1_post           float64
carm-elo2_post           float64
raptor1_pre              float64
raptor2_pre              float64
raptor_prob1             float64
raptor_prob2             float64
score1                   float64
score2                   float64
quality                    int64
importance               float64
total_rating             float64
dtype: object

**Rename the variables for easy understanding**

In [ ]:
# Correct column names
df.columns = ['Date', 'Season', 'neutral',  'playoff', 'Visitor Team', 'Home Team', 'elo1_pre', 
              'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1' , 'carm-elo_prob2', 
              'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre' , 'raptor_prob1',  'raptor_prob2','Visitor Score','Home Score' ,'quality' ,'importance','total_rating' ]

In [ ]:
df.shape

(71950, 27)

**View the changed colomns**

In [ ]:
df

            Date  Season  neutral  ... quality importance total_rating
0     1946-11-01    1947        0  ...       0        NaN          NaN
1     1946-11-02    1947        0  ...       0        NaN          NaN
2     1946-11-02    1947        0  ...       0        NaN          NaN
3     1946-11-02    1947        0  ...       0        NaN          NaN
4     1946-11-02    1947        0  ...       0        NaN          NaN
...          ...     ...      ...  ...     ...        ...          ...
71945 2022-04-09    2022        0  ...      76       29.0         53.0
71946 2022-04-09    2022        0  ...      73       28.0         51.0
71947 2022-04-09    2022        0  ...      59        3.0         31.0
71948 2022-04-09    2022        0  ...      76       12.0         44.0
71949 2022-04-09    2022        0  ...      76       19.0         48.0

[71950 rows x 27 columns]

**Create a new colomn 'Home Win' which is the feature we are trying to predict**

In [ ]:
# Create new feature that notes whether the home team won
df['Home Win'] = df['Visitor Score'] < df['Home Score']

# Assign "class values" to the Home Win column

### This will also be the value that we want to predict ###
y_true = df['Home Win'].values

**View the dataframe again with the new colomn with the predicted value**

In [ ]:
df

            Date  Season  neutral  ... importance total_rating Home Win
0     1946-11-01    1947        0  ...        NaN          NaN     True
1     1946-11-02    1947        0  ...        NaN          NaN    False
2     1946-11-02    1947        0  ...        NaN          NaN     True
3     1946-11-02    1947        0  ...        NaN          NaN    False
4     1946-11-02    1947        0  ...        NaN          NaN    False
...          ...     ...      ...  ...        ...          ...      ...
71945 2022-04-09    2022        0  ...       29.0         53.0    False
71946 2022-04-09    2022        0  ...       28.0         51.0    False
71947 2022-04-09    2022        0  ...        3.0         31.0    False
71948 2022-04-09    2022        0  ...       12.0         44.0    False
71949 2022-04-09    2022        0  ...       19.0         48.0    False

[71950 rows x 28 columns]

**View perfomance for home team games**

In [ ]:
# Establishing the baseline win percentage for the Home Teams overall
n_games = df['Home Win'].count()
n_homewins = df['Home Win'].sum()
win_percentage = n_homewins / n_games

print('Home Win percentage: {0:.2f}%'.format(100 * win_percentage))

NameError: ignored

**FI score for predicting baseline for Home Teams wins with simple classifier**

In [ ]:
# Predicting the baseline for Home Teams wins with simple classifier

from sklearn.metrics import f1_score

y_pred = [1] * len(y_true)
print('F1: {0:.4f}%'.format(f1_score(y_true, y_pred, pos_label = None, average = 'weighted') * 100))

F1: 20.9064%

**Determine the teams that would qualify for the 2021-2022 NBA PLAYOFFS by checking whether the home or visitor teams won their last games**

In [ ]:
# Determining whether the home and visitor teams won their last games
# This will update the Home Last Win & Visitor Last Win columns to either remain False or change to True

from collections import defaultdict

won_last = defaultdict(int)   # The default value of int is 0

# Inefficient method to deterime previous wins
for index, row in df.iterrows():
    home_team = row['Home Team']
    visitor_team = row['Visitor Team']
    row['Home Last Win'] = won_last[home_team]
    row['Visitor Last Win'] = won_last[visitor_team]
    # Set current win
    won_last[home_team] = row['Home Win']
    won_last[visitor_team] = not row['Home Win']
df.loc[20:25]

         Date  Season  neutral  ... importance total_rating Home Win
20 1946-11-13    1947        0  ...        NaN          NaN    False
21 1946-11-13    1947        0  ...        NaN          NaN     True
22 1946-11-14    1947        0  ...        NaN          NaN    False
23 1946-11-14    1947        0  ...        NaN          NaN    False
24 1946-11-15    1947        0  ...        NaN          NaN    False
25 1946-11-16    1947        0  ...        NaN          NaN    False

[6 rows x 28 columns]

**A view of team that won their home games and predicted to qualify for play offs**

In [ ]:
df.loc[90:95][['Date', 'Visitor Team', 'Visitor Score', 'Home Team', 'Home Score', 
               'Home Win',]]

         Date Visitor Team  Visitor Score Home Team  Home Score  Home Win
90 1946-12-12          PHW           49.0       WSC        64.0      True
91 1946-12-12          STB           68.0       CHS        88.0      True
92 1946-12-13          TRH           52.0       PIT        62.0      True
93 1946-12-14          BOS           77.0       PHW        65.0     False
94 1946-12-14          PRO           81.0       DTF        66.0     False
95 1946-12-14          WSC           72.0       CLR        52.0     False

**Set up basic Decision Tree Classifier**

In [ ]:
# Basic Decision Tree Classifier set up
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state = 14)

**Import metric for cross-validation performance**

In [ ]:
from sklearn.model_selection import cross_val_score

**Using elo ratings as a feature**

In [ ]:
# Use selected features as input for the classifier (target)
X_previouswins = df[['elo1_pre', 'elo2_pre']].values

# Decision Tree Classifier
dtc = DecisionTreeClassifier(random_state = 14)
scores = cross_val_score(dtc, X_previouswins, y_true, scoring = scorer)

# Print results
print("Using just the last result from the elo ratings")
print('F1: {0:.4f}%'.format(np.mean(scores) * 100))

Using just the last result from the elo ratings
F1: 58.7865%

**Using winning streak as a feature**

In [ ]:
# Taking into consideration winning streaks - What are the teams' win streaks coming into the game?
df["Home Win Streak"] = 0
df["Visitor Win Streak"] = 0

# Did the home and visitor teams win their last game?
from collections import defaultdict
win_streak = defaultdict(int)

for index, row in df.iterrows():  # Note that this is not the most efficient method
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    row["Home Win Streak"] = win_streak[home_team]
    row["Visitor Win Streak"] = win_streak[visitor_team]
    df.loc[index] = row    
    
    # Set current win streak
    if row["Home Win"]:
        win_streak[home_team] += 1
        win_streak[visitor_team] = 0
    else:
        win_streak[home_team] = 0
        win_streak[visitor_team] += 1

**View the added colomns**

In [ ]:
df.loc[50:60][['Date', 'Visitor Team', 'Visitor Score', 'Home Team', 'Home Score', 
               'Home Win', 'Home Win Streak', 'Visitor Win Streak']]

         Date Visitor Team  ...  Home Win Streak Visitor Win Streak
50 1946-11-26          DTF  ...                1                  2
51 1946-11-26          PHW  ...                0                  0
52 1946-11-26          TRH  ...                4                  0
53 1946-11-27          NYK  ...                2                  5
54 1946-11-27          PIT  ...                0                  0
55 1946-11-27          WSC  ...                0                  5
56 1946-11-28          BOS  ...                1                  0
57 1946-11-28          CHS  ...                0                  0
58 1946-11-28          PHW  ...                3                  1
59 1946-11-28          PRO  ...                6                  1
60 1946-11-29          TRH  ...                0                  0

[11 rows x 8 columns]

**Using "elo1_pre",	"elo2_pre", "Home Win Streak", "Visitor Win Streak" as selected input features for the classifier (target)**

In [ ]:
# Use selected features as input for the classifier (target)
X_winstreak = df[["elo1_pre",	"elo2_pre", "Home Win Streak", "Visitor Win Streak"]].values

# Decision Tree Classifier
dtc = DecisionTreeClassifier(random_state = 14)
scores = cross_val_score(dtc, X_winstreak, y_true, scoring = scorer)

# Print results
print("Using elo ratings and winning as features")
print("F1: {0:.4f}%".format(np.mean(scores) * 100))

Using whether the home team is ranked higher
F1: 58.4556%

**Making inference using the test data set**

**Import the test set **bold text**

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving nba_elo_latest.csv to nba_elo_latest.csv

**Convert dataset to dataframe**

In [ ]:
import io
test_df = pd.read_csv(io.BytesIO(uploaded['nba_elo_latest.csv']))

**View the test dataset**

In [ ]:
test_df

            date  season  neutral  ...  quality importance total_rating
0     2021-10-19    2022        0  ...       92         14           53
1     2021-10-19    2022        0  ...       59         54           57
2     2021-10-20    2022        0  ...       48         51           50
3     2021-10-20    2022        0  ...       26         19           23
4     2021-10-20    2022        0  ...       48         66           57
...          ...     ...      ...  ...      ...        ...          ...
1225  2022-04-09    2022        0  ...       76         29           53
1226  2022-04-09    2022        0  ...       73         28           51
1227  2022-04-09    2022        0  ...       59          3           31
1228  2022-04-09    2022        0  ...       76         12           44
1229  2022-04-09    2022        0  ...       76         19           48

[1230 rows x 27 columns]

**View the test set data types**

In [ ]:
test_df.dtypes

date               object
season              int64
neutral             int64
playoff           float64
team1              object
team2              object
elo1_pre          float64
elo2_pre          float64
elo_prob1         float64
elo_prob2         float64
elo1_post         float64
elo2_post         float64
carm-elo1_pre     float64
carm-elo2_pre     float64
carm-elo_prob1    float64
carm-elo_prob2    float64
carm-elo1_post    float64
carm-elo2_post    float64
raptor1_pre       float64
raptor2_pre       float64
raptor_prob1      float64
raptor_prob2      float64
score1            float64
score2            float64
quality             int64
importance          int64
total_rating        int64
dtype: object

In [ ]:
test_df.columns = ['Date', 'Season', 'neutral',  'playoff', 'Visitor Team', 'Home Team', 'elo1_pre', 
              'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1' , 'carm-elo_prob2', 
              'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre' , 'raptor_prob1',  'raptor_prob2','Visitor Score','Home Score' ,'quality' ,'importance','total_rating' ]

**Rename the colomns for easy manipulation**

In [ ]:
# Correct column names
test_df.columns = ['Date', 'Season', 'neutral',  'playoff', 'Visitor Team', 'Home Team', 'elo1_pre', 
              'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post', 'carm-elo1_pre', 'carm-elo2_pre', 'carm-elo_prob1' , 'carm-elo_prob2', 
              'carm-elo1_post', 'carm-elo2_post', 'raptor1_pre', 'raptor2_pre' , 'raptor_prob1',  'raptor_prob2','Visitor Score','Home Score' ,'quality' ,'importance','total_rating' ]

In [ ]:
test_df

            Date  Season  neutral  ...  quality importance total_rating
0     2021-10-19    2022        0  ...       92         14           53
1     2021-10-19    2022        0  ...       59         54           57
2     2021-10-20    2022        0  ...       48         51           50
3     2021-10-20    2022        0  ...       26         19           23
4     2021-10-20    2022        0  ...       48         66           57
...          ...     ...      ...  ...      ...        ...          ...
1225  2022-04-09    2022        0  ...       76         29           53
1226  2022-04-09    2022        0  ...       73         28           51
1227  2022-04-09    2022        0  ...       59          3           31
1228  2022-04-09    2022        0  ...       76         12           44
1229  2022-04-09    2022        0  ...       76         19           48

[1230 rows x 27 columns]

**Predict teams that will qualify for play offs**

In [ ]:
# Determine whether the home team won
test_df['Home Win'] = test_df['Visitor Score'] < test_df['Home Score']

# Assign "class values" to the Home Win column
y_true = test_df['Home Win'].values

**View the new column**

In [ ]:
test_df

            Date  Season  neutral  ...  importance total_rating Home Win
0     2021-10-19    2022        0  ...          14           53    False
1     2021-10-19    2022        0  ...          54           57     True
2     2021-10-20    2022        0  ...          51           50    False
3     2021-10-20    2022        0  ...          19           23     True
4     2021-10-20    2022        0  ...          66           57     True
...          ...     ...      ...  ...         ...          ...      ...
1225  2022-04-09    2022        0  ...          29           53    False
1226  2022-04-09    2022        0  ...          28           51    False
1227  2022-04-09    2022        0  ...           3           31    False
1228  2022-04-09    2022        0  ...          12           44    False
1229  2022-04-09    2022        0  ...          19           48    False

[1230 rows x 28 columns]

In [ ]:
# Create two new columns, with all of the values set to False
test_df['Home Last Win'] = False
test_df['Visitor Last Win'] = False

# Determining whether the home and visitor teams won their last games
# This will update the Home Last Win & Visitor Last Win columns to either remain False or change to True

from collections import defaultdict

won_last = defaultdict(int)   # The default value of int is 0

# Inefficient method to deterime previous wins
for index, row in test_df.iterrows():
    home_team = row['Home Team']
    visitor_team = row['Visitor Team']
    row['Home Last Win'] = won_last[home_team]
    row['Visitor Last Win'] = won_last[visitor_team]
    # Set current win
    won_last[home_team] = row['Home Win']
    won_last[visitor_team] = not row['Home Win']
test_df.sample(10)

            Date  Season  neutral  ...  Home Win Home Last Win Visitor Last Win
180   2021-11-12    2022        0  ...      True         False            False
919   2022-02-28    2022        0  ...     False         False            False
1000  2022-03-11    2022        0  ...     False         False            False
12    2021-10-20    2022        0  ...      True         False            False
359   2021-12-06    2022        0  ...     False         False            False
705   2022-01-25    2022        0  ...     False         False            False
439   2021-12-18    2022        0  ...     False         False            False
1122  2022-03-28    2022        0  ...     False         False            False
1213  2022-04-08    2022        0  ...     False         False            False
743   2022-01-30    2022        0  ...     False         False            False

[10 rows x 30 columns]

In [ ]:
# Creating columns for winning streaks
test_df["Home Win Streak"] = 0
test_df["Visitor Win Streak"] = 0

# Did the home and visitor teams win their last game?

from collections import defaultdict

win_streak = defaultdict(int)

for index, row in test_df.iterrows():  # Note that this is not the most efficient method
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    row["Home Win Streak"] = win_streak[home_team]
    row["Visitor Win Streak"] = win_streak[visitor_team]
    test_df.loc[index] = row    
    
    # Set current win streak
    if row["Home Win"]:
        win_streak[home_team] += 1
        win_streak[visitor_team] = 0
    else:
        win_streak[home_team] = 0
        win_streak[visitor_team] += 1
        
test_df.sample(10)

            Date  Season  ...  Home Win Streak  Visitor Win Streak
1228  2022-04-09    2022  ...                0                   0
348   2021-12-05    2022  ...                3                   4
68    2021-10-28    2022  ...                0                   2
831   2022-02-11    2022  ...                2                   1
1101  2022-03-25    2022  ...                2                   1
702   2022-01-24    2022  ...                0                   0
232   2021-11-19    2022  ...                1                   1
1001  2022-03-11    2022  ...                0                   0
444   2021-12-18    2022  ...                5                   0
1145  2022-03-31    2022  ...                1                   0

[10 rows x 32 columns]

In [ ]:
# Build function to add Home Team Ranks Higher feature
def home_team_ranks_higher_2015(row):
    home_team = row['Home Team']
    visitor_team = row['Visitor Team']
    
    # Adjusting the Charlotte team names due to off-season league changes between 13-14 & 14-15
    if home_team == "WAS":
        home_team = "Washington wizards"
    if visitor_team == "MEM":
        visitor_team = "Memphis guys"
    
    home_rank = test_df.loc[home_team]['Rank']
    visitor_rank = test_df.loc[visitor_team]['Rank']
    
    # The higher ranking will be the lower number
    return home_rank < visitor_rank

In [ ]:
last_match_winner = defaultdict(int)
test_df["Home Team Won Last"] = 0

for index, row in test_df.iterrows():
    home_team = row["Home Team"]
    visitor_team = row["Visitor Team"]
    teams = tuple(sorted([home_team, visitor_team]))  # Sort for a consistent ordering
    
    # Set in the row, who won the last encounter
    row["Home Team Won Last"] = 1 if last_match_winner[teams] == row["Home Team"] else 0
    test_df.loc[index] = row
    
    # Who won this one?
    winner = row["Home Team"] if row["Home Win"] else row["Visitor Team"]
    last_match_winner[teams] = winner
    
test_df.sample(7)

            Date  Season  ...  Visitor Win Streak  Home Team Won Last
518   2021-12-31    2022  ...                   0                   1
968   2022-03-07    2022  ...                   1                   0
119   2021-11-04    2022  ...                   0                   0
822   2022-02-09    2022  ...                   3                   1
798   2022-02-06    2022  ...                   1                   1
313   2021-11-30    2022  ...                   0                   0
1180  2022-04-05    2022  ...                   1                   1

[7 rows x 33 columns]

**Review the added features in the 2021-2022 season**

In [ ]:
# Review the added features in the 2021-2022 season DataFrame
test_df[['Date', 'Visitor Team', 'Visitor Score', 'Home Team', 'Home Score', 'Home Win', 'Home Last Win', 
       'Visitor Last Win', 'Home Win Streak', 'Visitor Win Streak', 
       'Home Team Won Last']][:5]

         Date Visitor Team  ...  Visitor Win Streak Home Team Won Last
0  2021-10-19          MIL  ...                   0                  0
1  2021-10-19          LAL  ...                   0                  0
2  2021-10-20          CHO  ...                   0                  0
3  2021-10-20          DET  ...                   0                  0
4  2021-10-20          TOR  ...                   0                  0

[5 rows x 11 columns]

In [ ]:
test_df['Label'] = [1 if x > 0 else 0 for x in test_df['Home Score'] - test_df['Visitor Score']]
test_df.drop(columns=['Home Score', 'Visitor Score'], inplace=True)
final_team_stats = test_df.dropna()

combined_copy = final_team_stats

final_team_stats

Empty DataFrame
Columns: [Date, Season, neutral, playoff, Visitor Team, Home Team, elo1_pre, elo2_pre, elo_prob1, elo_prob2, elo1_post, elo2_post, carm-elo1_pre, carm-elo2_pre, carm-elo_prob1, carm-elo_prob2, carm-elo1_post, carm-elo2_post, raptor1_pre, raptor2_pre, raptor_prob1, raptor_prob2, quality, importance, total_rating, Home Win, Home Last Win, Visitor Last Win, Home Win Streak, Visitor Win Streak, Home Team Won Last, Label]
Index: []

In [ ]:
test_df[['Date', 'Season', 'Visitor Team', 'Home Team',  'Home Win', 'Home Win Streak', 'Visitor Win Streak'
       ]][:20]

          Date  Season  ... Home Win Streak Visitor Win Streak
0   2021-10-19    2022  ...               0                  0
1   2021-10-19    2022  ...               0                  0
2   2021-10-20    2022  ...               0                  0
3   2021-10-20    2022  ...               0                  0
4   2021-10-20    2022  ...               0                  0
5   2021-10-20    2022  ...               0                  0
6   2021-10-20    2022  ...               0                  0
7   2021-10-20    2022  ...               0                  0
8   2021-10-20    2022  ...               0                  0
9   2021-10-20    2022  ...               0                  0
10  2021-10-20    2022  ...               0                  0
11  2021-10-20    2022  ...               0                  0
12  2021-10-20    2022  ...               0                  0
13  2021-10-21    2022  ...               0                  0
14  2021-10-21    2022  ...               1                  0
15  2021-10-21    2022  ...               0                  1
16  2021-10-22    2022  ...               1                  0
17  2021-10-22    2022  ...               1                  0
18  2021-10-22    2022  ...               0                  1
19  2021-10-22    2022  ...               0                  0

[20 rows x 7 columns]

           Date  Season  neutral  ...  Visitor Win Streak Home Team Won Last Label
1    2021-10-19    2022        0  ...                   0                  0     1
3    2021-10-20    2022        0  ...                   0                  0     1
4    2021-10-20    2022        0  ...                   0                  0     1
7    2021-10-20    2022        0  ...                   0                  0     1
11   2021-10-20    2022        0  ...                   0                  0     1
..          ...     ...      ...  ...                 ...                ...   ...
584  2022-01-08    2022        0  ...                   3                  0     1
588  2022-01-09    2022        0  ...                   0                  1     1
589  2022-01-09    2022        0  ...                   0                  0     1
590  2022-01-09    2022        0  ...                   0                  1     1
594  2022-01-09    2022        0  ...                   4                  1     1

[271 rows x 32 columns]

In [ ]:
test_df.loc[90:95][['Date', 'elo1_pre', 'elo2_pre', 'Home Team', 'Home Win Streak', 
               'Home Win',]]

          Date     elo1_pre     elo2_pre Home Team  Home Win Streak  Home Win
90  2021-10-31  1613.657227  1631.139368       UTA                0      True
91  2021-10-31  1568.318588  1368.015154       DET                1     False
92  2021-10-31  1527.656476  1330.900837       HOU                0     False
93  2021-11-01  1619.857289  1583.580349       POR                0     False
94  2021-11-01  1481.003052  1401.886700       CLE                0      True
95  2021-11-01  1459.901546  1482.537738       SAS                1     False

Maximum number in the test dataset

In [ ]:
max(test_df)

'total_rating'

In [ ]:
max(test_df['total_rating'])

85

**The team most likely to win the 2022 NBA Finals based on total ratings **

In [ ]:
df[df['total_rating']>84]

            Date  Season  ...  Home Win Streak Visitor Win Streak
71642 2022-03-01    2022  ...                1                  0

[1 rows x 30 columns]

Based on total ratings, the team most likely to win the 2022 NBA Championship are the Boston celtics